/*reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}


/* fonts */
@font-face {
  font-family: "SFPro";
  src: url("./assets/fonts/SFPro/SFPro-Regular.woff2") format("woff2");
  src: url("./assets/fonts/SFPro/SFPro-Regular.woff") format("woff");
  src: url("./assets/fonts/SFPro/SFPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFPro";
  src: url("./assets/fonts/SFPro/SFPro-Bold.woff2") format("woff2");
  src: url("./assets/fonts/SFPro/SFPro-Bold.woff") format("woff");
  src: url("./assets/fonts/SFPro/SFPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* theme-vars */
.root.light {
  --color-primary: #575757;
  --color-secondary: #bcbcbc;
  --color-highlight: #4361ee;

  --bg-color-primary: #e9f2f9;
  --bg-color-header: #d7e2ec;
  --bg-color-button: #e3edf6;
  --bg-color-input: #ffffff;
  --bg-color-footer: #d7e2ec;

  --border-color: #aaaaaa;

  --shadow-color-dark: #c6d5e4;
  --shadow-color-light: #ffffff;
}

.root.dark {
  --color-primary: #ffffff;
  --color-secondary: #777a7c;
  --color-highlight: #4361ee;

  --bg-color-primary: #1D2226;
  --bg-color-header: #31373e;
  --bg-color-button: #1d2226;
  --bg-color-input: #1d2226;
  --bg-color-footer: #31373e;

  --border-color: #ffffff;

  --shadow-color-dark: #000000;
  --shadow-color-light: #575757;
}

/* global */
body {
  font-family: "SFPro", sans-serif;
  font-size: 16px;
}

.root {
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
}

/* app */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__wrapper,
.panel__wrapper,
.gallery__wrapper {
  margin: 0 auto;
  padding: 24px;
  max-width: 1280px;
}

/* header */
.header {
  border-bottom: 1px solid var(--border-color);
  background: var(--bg-color-header);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 12px;
  font-size: 28px;
  font-weight: 700;
}

.logo svg {
  width: 32px;
  height: 32px;
  fill: var(--color-primary);
}

.logo:hover {
  color: var(--color-highlight);
}

.logo:hover svg {
  fill: var(--color-highlight);
}

.search {
  flex: 0 0 70%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  padding-left: 3.4rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  width: 90%;
  height: 100%;
  font: inherit;
  background: var(--bg-color-input);
  border-radius: 50px;
  box-shadow: 1px 3px 12px var(--bg-color-primary);
  transition: all 0.3s;
}

.search__input:focus {
  outline: none;
  width: 100%;
  color: var(--color-primary);
}

.search__input::placeholder {
  font-size: 18px;
}

.search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.search__button:active {
  transform: translateY(2px);
}

.search__button svg {
  width: 20px;
  height: 20px;
  fill: var(--color-secondary);
}

.search__button .icon__search {
  width: 24px;
  height: 24px;
}

.search__close {
  display: none;
}

.search__close.active {
  display: flex;
}

/* theme */
.button {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--bg-color-button);
  box-shadow: 1px 3px 5px var(--shadow-color-dark),
  -3px -2px 5px var(--shadow-color-light);
  stroke: var(--color-primary);
  fill: var(--color-primary);
}

.button--theme {
  width: 34px;
  height: 34px;
  display: grid;
  place-content: center;
}

.button--theme svg {
  fill: var(--color-primary);
  width: 20px;
  height: 20px;
}

.button:hover svg {
  stroke: var(--color-highlight);
  fill: var(--color-highlight);
}
